.container_project {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 1rem 0;
}

.title_description_container {
  margin-bottom: 1rem;
  flex-direction: column;
  flex: 2;
}

.project_title {
  color: #2a5aa7;
  background: linear-gradient(transparent 70%, #dbe4ff 0);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 2rem;
  text-decoration: none;
}

.project_title:hover {
  color: #222;
  background: linear-gradient(transparent 70%, #bac8ff 0);
}

.project_description {
  margin-top: 0.5rem;
  color: #60656c;
}

.codeLink_container {
  margin: 1rem 0 0 0.5rem;
  flex-direction: column;
}

.code_link {
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
  background: #5183f5;
  font-weight: 400;
  padding: 0.5rem 1rem;
}

.code_link:hover {
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  background: #3b6cdf;
}
