.main-tag-container {
  box-sizing: border-box;
  cursor: default;
  display: block;
  font-size: 14px;
  min-height: 32px;
  outline: 0;
  overflow: hidden;
  padding: 0 8px;
  white-space: normal;
  width: 200px;
}

.inner-tag-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  outline: 0;
  padding-bottom: 1px;
  padding-top: 7px;
}

.tag-card {
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  color: #37352f;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  height: 18px;
  line-height: 120%;
  margin: 0 6px 6px 0;
  min-width: 0;
  outline: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.tag-name {
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.green {
  background: #00876b;
  opacity: 0.2;
}

.pink {
  background: #dd0081;
  opacity: 0.2;
}

.purple {
  background: #6724de;
  opacity: 0.2;
}

.blue {
  background: #0078df;
  opacity: 0.2;
}

.red {
  background: #ff001a;
  opacity: 0.2;
}
